.akib-iamge{
    background-image: url(assets/bg.jpg);
     background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 20px;
}

.yello{
    background-color:#EFDA6E ;
}

.rakib-color{
    background-color: #A4DAC3;
}
.rana{
  background-color: #77AAEA;  
}
.kaka{
    background-color:#EFDA6E ;
}
